/*container */
.container {
  display: grid;
  max-width: 100%;
  height: auto;
  align-self: center;
  grid-template-rows: 50px 200px 300px 300px 300px 300px 300px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

/*nav*/
.nav {
  text-decoration: none;


}

a {
color: #ffff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

li {
  color: #FFFFFF;
  margin: 10px;
}

.about {
  background-image: url("img/background.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 10px;

}

.title {
  color: #ffff;
  text-align: center;
  padding-top: 250px;
}

.services{
  padding-top: 500px;
  text-align: center;

}

.channels {
  color: black;
  width: 100px;
   height: 50px;
   overflow-y: auto;
  display: inline-block;
}
